PORT=3001
DB_HOST=localhost
DB_USER=root
DB_PASSWORD=
DB_NAME=myapp
JWT_SECRET=sua_chave_secreta_aqui
EMAIL_HOST=
EMAIL_PORT=
EMAIL_USER=
EMAIL_PASS=
EMAIL_FROM_NAME=Santi Santi site
# Destinatário das mensagens do formulário de contacto (opcional)
CONTACT_TO=sergio@kanka.com.br
